/* Hele mølja rundt */
#dynamicBanner {
    margin: 0 auto;
    display: block;
    width: 580px;
    height: 500px; 
    background-color: #8699a6;
    box-shadow: 5px 10px 18px #888888;
    transition: 0.3s;
}
#dynamicBanner:hover {
    box-shadow: 7px 12px 20px #424141;
    transition: 0.3s;
}


/* bilde-diven og bildet */
#imgDiv {
    width: 100%;
    display:inline-block;
    overflow: hidden;
}
#imgDiv img {
    width: 100%;
    object-fit:cover;
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-filter:blur(0.4px);
    filter: blur(0.4px);
    opacity: 0.4;
}
#imgDiv img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter:blur(0px);
    filter: blur(0px);
    opacity: 1;
}

#txtDiv {
    box-shadow: 0px 5px 10px #424141;
}
#txtDiv p {
    letter-spacing: 1px;
    margin: 5px;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Sarabun', sans-serif;
}


/* Animasjon onload som fader inn banneret */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
  
@keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
  
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
  
.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
  
.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
  
.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
  
.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
} 
